body {
    background: #f7f7f7;
    font-family: Arial;
    max-height: 1000px;
}

.titulo {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.menu{
    display: flex;
    gap: 50px;
    justify-content: center;
}

a {
    background:white;
    padding: 10px;
    text-decoration: none;
    border-radius: 4px;
    color: black;
    border: 1px solid #ccc;
}


.primeira {
    background: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 70px 120px 0px 120px;
    padding: 50px;
}

.botao {
    background: #ee2211;
    color: white;
    padding: 20px;
    grid-column: 1 / 2;
    justify-self: flex-end;
    text-align: center;
    margin: 20px;
}

.foto {
    grid-column: 2 / 3;
    grid-row: 1 / 4;
}

.anun {
    grid-column: 1;
    justify-self: end;
    font-size: 30px;
    margin-right: 20px;
}

.descriçao {
    grid-column: 1;
    text-align: right;
    margin-right: 20px;
    font-size: 20px;
}

.segunda {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0px 120px 0px 120px;
}

.vantagens {
    grid-column: 1 / 2;
    font-size: 64px;
    color: #c6c6c6;
    background: #f7f7f7;
    grid-row: 1 / 2 ;
    text-align: right;
    padding-top: 70px;
    padding-right: 20px;
}

.subtitulo1 {
    grid-column: 2;
}

.descricao1 {
    grid-column: 2;
    font-size: 20px;
}

.subtitulo2 {
    grid-column: 2;
}

.descricao2 {
    grid-column: 2;
    font-size: 20px;
}

.subtitulo3 {
    grid-column: 2;
}

.descricao3 {
    grid-column: 2;
    font-size: 20px;
}

.divsegunda{
    background: white;
    padding: 50px;
    padding-top: 50px;
    text-align: left;
}

.direitos {
    display: grid;
    text-align: center ;
    margin-top: 70px;
    margin-bottom: 70px;
    padding: 40px;
}

.traco {
    color: red;
    font-size: 100px;
    position: absolute;
    right: 730px;
    top: 80px;
}